# Made by Kyal

name: Quality (Optional Security Scan)

on:
  workflow_dispatch:

jobs:
  trivy_fs_scan:
    name: Trivy FS Scan (informational)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run Trivy filesystem scan
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: fs
          ignore-unfixed: true
          severity: CRITICAL,HIGH
          exit-code: 0
